@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto+Mono:wght@400;700&family=Source+Code+Pro:wght@600;700&display=swap');

:root {
  --bg-app: #0D0F16;       
  --bg-panel: rgba(21, 24, 35, 0.6); 
  --text-main: #E0E0E0;
  
  /* DIMENSIONES */
  --sidebar-width: 340px;
  --gap: 30px;             
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-app);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.app-grid {
  display: grid;
  width: 100vw;
  height: 100vh;
  padding: var(--gap);
  box-sizing: border-box;
  gap: var(--gap);
  
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: 65% 1fr;
  grid-template-areas: 
    "sidebar top-box"
    "sidebar bottom-box";
}

.panel {
  background-color: var(--bg-panel);
  border-radius: 12px; 
  overflow: hidden;
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
}

.panel-sidebar { grid-area: sidebar; }
.panel-top     { grid-area: top-box; }
.panel-bottom  { grid-area: bottom-box; }

/* Scroll */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #232737; border-radius: 3px; }
::-webkit-scrollbar-track { background: transparent; }